:root {
  --fuentePrincipal: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 32rem;
  min-height: 100vh;
}
h1 {
}

#app {
  max-width: 128rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
